.contact {
	display: flex;
	justify-content: center;
	font-size: 19px;
	color: #5d5d5d;

	padding-top: 70px;
	/*     padding-bottom: 100px; */
	height: 310px;
	background-image: url(/static/image/map.png);
	background-repeat: no-repeat;
	background-size: 34%;
	background-position: 92% 0%;
	position: absolute;
	top: 36%;

	.title {
		font-weight: 600;
	}
	&__offices {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
        position: relative;
        width: 17%;
		&:after {
			content: "";
			background-color: #ffc402;
			position: absolute;
			width: 2px;
			height: 100%;
			top: 0px;
			right: 22%;
			display: block;
        }
  
     
        
        span:nth-child(2) {
            width: 67%;

        }
	}

	&__hours {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		.weekday {
			display: flex;
			&__hours {
				display: flex;
                flex-direction: column;
                padding-left: 20px;
			}
        }
        .weekend{
            &__hours {
                padding-left: 20px;

            }
        }
        .social {
            display: flex;
            justify-content: space-around;
            &__item{
                width: 40px;
                .facebook{
                    width: 100%;
                }
                .instagram{
                    width: 100%;
                }
            }
        
        }
	}
}
