.home {
	display: flex;

	justify-content: space-around;
	padding-right: 150px;
	&__title {
		display: flex;
		flex-direction: column;
		color: #595959;
		font-size: 70px;
		font-weight: 600;
	 	width: 60%;
		text-align: center;
		line-height: 1.1;
		p {
			margin-bottom: 0 !important;
		}
	}

	&__video {
		width: 40%; 
	}
}

@media only screen and (max-width: 1199px) {
	.home {
		&__title {
			font-size: 45px;
		}
	}
}
@media only screen and (max-width: 991px) {
	.home {
		flex-direction: column-reverse;
		align-items: center;

		&__title {
			font-size: 28px;
			flex-direction: row;
			width: 90%;
			padding-left: 100px;
			padding-top: 10px;
			p {
				margin-right: 5px;
			}
		}

		&__video {
			width: 50%;
			margin-left: 0;
		}
	}
}
@media only screen and (max-width: 575px) {
	.home {
		padding-top: 80px;
	
		&__title {
			font-size: 26px;
			flex-direction: column;
			width: 52%;
			padding-left: 0;
		}

		&__video {
			width: 80%;
		}
	}
}
